<style>
.logo--img {
    width: 30rem;
    padding: 1rem;
}

.header {
    background-color: lightgrey;
    padding: 1rem;
    margin: 0;
    font-size: x-large;
    font-weight: bold;
}
</style>

<div class='logo'>
    <a href='https://www.sson-analytics.com/' target='_blank'>
        <img class='logo--img' src='img/sson.jpg'>
    </a>
</div>


<div class='header'>
    SSON Analytics Test Workbook 2017
</div>
