<style>
.right-pane {
    background-color: lightgrey;
    padding: 1em;
}

.right-pane--ul {
    padding: 1em;
}

.right-pane li {
    padding: 1em 0;
}
</style>

<page-title title='BAR CHART BREAKDOWN 2017'></page-title>

<div class='container-fluid'>
<div class='row'>


    <bar-chart
        class='col-xs-9 chart'
        data='$ctrl.data'
    ></bar-chart>


    <div class='col-xs-3 right-pane'>
        <ul class='right-pane--ul' ng-style='{ "height": $ctrl.rightPaneHeight }'>
            <li>In pretium, eros quis ultrices varius, augue est interdum odio, eu bibendum nisl neque et velit. </li>
            <li>Praesent faucibus facilisis pharetra. </li>
            <li>Nullam ullamcorper at felis in fringilla. Morbi eget euismod nisl, at dapibus risus.</li>
        </ul>
    </div>


</div><!-- row -->
</div><!-- container-fluid -->