<style>
.page1-content {
    padding: 1em;
}

.page1-content p,
.page1-content ul
{
    margin: 2em 0;
}

.page1-content--title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 !important;

}

.page1-content--published {
    font-style: italic;
    font-size: smaller;
    opacity: 0.6;
}
</style>

<page-title title='INTRODUCTION'></page-title>

<div class='page1-content'>

    <p class='page1-content--title'>Cras rhoncus laoreet semper</p>

    <p>
        Suspendisse vitae odio placerat, tristique magna in, fermentum odio.
        Morbi sollicitudin scelerisque ornare. Integer vitae pharetra tellus.
        Integer ac lobortis eros. Aliquam interdum neque vel lacus facilisis accumsan.
    </p>

    <p>
        Pellentesque euismod ligula aliquet sem faucibus ultrices. Interdum et malesuada
        fames ac ante ipsum primis in faucibus. Aliquam varius dignissim magna sed aliquam.
    </p>

    <ul>
        <li>Quisque non mi nibh</li>
        <li>Vivamus libero velit</li>
        <li>eleifend eget tristique eu</li>
    </ul>

    <p class='page1-content--published'>Published March 2017</p>

</div><!-- page-content -->