<style>

.footer {
    width: 100%;
}

.footer--ul {
    list-style: none;
    padding: 1em;
}

.footer--ul li:before {
    content: "\27A7";
    font-size: 1.5em;
}

.footer--ul li {
    line-height: 2em;
    padding: 0;
}
</style>

<div class='footer'>
    <ul class='footer--ul'>
        <li>
            Phasellus vitae massa enim. Vestibulum mollis viverra erat eget ultricies.
            Email at <a href='mailto:test@mydomain.com'>test@mydomain.com</a>.
        </li>

        <li>
            Nunc maximus dolor lectus, vel sagittis elit dictum ut.
            Visit <a href='https://www.sson-analytics.com'>www.sson-analytics.com</a>.
        </li>
    </ul>
</div>
