<style>
.navigation-bar {
    color: white;
    background-color: black;
    padding: 0.25em 1em;
}
.navigation-bar--nav {
    font-size: 1.5em;
}
.navigation-bar--anchor {
    color:white;
    text-decoration: none;
}
.navigation-bar--anchor__active
{
    color: orange !important;
    text-decoration: none !important;
}
.navigation-bar--separator {
    padding: 0 0.5em;
}
</style>

<div class='navigation-bar'>
    <span
        class='navigation-bar--nav'
        ng-repeat='link in $ctrl.links'
        ng-switch='link.type'
    >
        <a
            class='navigation-bar--anchor'
            ui-sref='{{ link.state }}'
            ng-class='{ "navigation-bar--anchor__active": link.state == $ctrl.state.current.name }'
        >
            <span ng-switch-when='text'>{{ link.text }}</span>
            <span ng-switch-when='icon' ng-class='link.icon' style='font-size:0.7em;'></span>
        </a>

        <span class='navigation-bar--separator' ng-if='!$last'>|</span>
    </span>
</div>
